* {
  padding: 0;
  margin: 0;
}
.player--select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}
.player--card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
}
.fa-o {
  font-size: 8vw;
}
.fa-xmark {
  font-size: 10vw;
}
.game--section {
  display: none;
  padding: 2rem;
  justify-content: space-around;
}
.game__board {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.game--square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  border: 1px solid black;
  border-radius: 5px;
}
.game--square:hover {
  background-color: lightgray;
}
.winning--tile {
  color: green;
}

.player--one--section,
.player--two--section {
  width: 20vw;
}
.play-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.212);
}
.game--board--section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.reset-btn {
  border-radius: 5px;
  border: 0.5px solid;
}
#reset {
  background-color: red;
}
#restart {
  background-color: orange;
}
